body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
                   "1fr 1fr 1fr 1fr 1fr" 33.33vh
                   "1fr 1fr 1fr 1fr 1fr" 33.33vh;
    grid-gap: 5px;                
}

.container .box {
    position: relative;
    background: #ccc;
}

.container .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: 0;
}

.container .box.b {
    grid-row: span 2;
}

.container .box.d {
    grid-row: span 2;
}

.container .box.f {
    grid-row: span 2;
}

.container .box.j {
    grid-row: span 2;
}
